 <% if product.favorited_by?(current_user) %>
  <p>
    <%= link_to product_favorites_path(product), method: :delete, remote: true do %>
      ♥<%= product.favorites.count %> いいね
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to product_favorites_path(product), method: :post, remote: true do %>
      ♡<%= product.favorites.count %> いいね
    <% end %>
  </p>
<% end %>
