<table class = "users-products-show" >
  <tr>
    <td><h3 class="product-name"><%= @product.name %></h3></td>
    <td><h3 class="product-body"><%= @product.body %></h3></td>
    <td><h3 class="product-price">¥<%= @product.amounts %>(税抜き)</h3></td>
  </tr>
</table>