<h1 class="about"><strong>当サイトについて</strong></h1>

<h2>美味しいスイーツ情報をゆっくり手軽に</h2>
<h3 class="about1">
こんなスイーツが食べたい、近くに美味しいスイーツショップはないかな？<br>
そんなあなたのために、「スイーツ・インフォメーション」として情報検索のために活用し、
スイーツでみなさんにホット一息ついていただきたいので、スイっと情報を検索できるように、
名付けました。こんにちは、「swefo♫」です。</h3>


<h2>ご利用方法</h2>
<h3 class="about2">
こんなスイーツが食べたい、近くに美味しいスイーツショップはないかな？<br>
そんなあなたのために、「スイーツ・インフォメーション」として情報検索のために活用し、
スイーツでみなさんにホット一息ついていただきたいので、スイっと情報を検索できるように、
名付けました。こんにちは、「swefo♫」です。</h3>
<!--<div class="aboutimage"></div>-->