<div class = "row">
  <div class="col-md-6">
    <div class = 'image'>
      <h3>美味しいスイーツ情報をゆっくり手軽に</h3>
      <h5 class="about1">
        こんなスイーツが食べたい、近くに美味しいスイーツショップはないかな？<br>
      そんなあなたのために、「スイーツ・インフォメーション」として情報検索のために活用し、スイーツでみなさんに<br>
      ホット一息ついていただきたいので、スイっと情報を検索できるように
      名付けました。こんにちは、「swefo♫」です。</h5>
    </div>
  </div>


  <div class="col-md-6">
    <ul class="bxslider"> <!--商品の写真スライダを反映（クリックすると商品詳細へ）ー-->
      <% @products.each do |product| %>
          <li>
            <% if product.image %>
                <%= attachment_image_tag product, :image, :fill, 1000, 1000, format: 'jpeg' %>
            <% else %>
              <%= image_tag 'no_image.png' %>
            <% end %>
            <h4 class="slider" ><%= product.product_name %></h4>
          </li>
      <% end %>
    </ul>
  </div>
</div>
<!--<div class="Topimage"></div>-->