<ul class="bxslider"> <!--商品の写真スライダを反映（クリックすると商品詳細へ）ー-->
  <% @products.each do |product| %>
      <li>
        <%= link_to product_path(product) do %>
          <% if product.image %>
             <%= attachment_image_tag product, :image, :fill, 150, 150, format: 'jpeg' %>
          <% else %>
            <%= image_tag 'no_image.png' %>
          <% end %>
        <% end %>
      </li>
  <% end %>
</ul>

<!--<div class="Topimage"></div>-->