// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.marker {
  background-color: #FFCC00;
}

.new {
  background-color: white;
  height: 450px;
  border: 1px solid #dc3545;
  padding: 10px;
}

.about {
  line-height: 200px; 
  font-size: 30px;
}

