// Place all the styles related to the member：：ProductComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-comments {
  background-color: white;
  overflow-y: scroll;
}

.name {
  background-color: #00ffff;
}