// Place all the styles related to the member：：ProductComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scroll {
  background-color: white;
  overflow: scroll;
  height: 170px;
  border: 1px solid #dc3545;
  padding: 10px;
}

.name {
  background-color: #00ffff;
}