// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products {
  background-color: #ffccff;
}

.comment {
 width: 100%;
}

.scroll {
  background-color: white;
  overflow: scroll;
  height: 170px;
  border: 1px solid #dc3545;
  padding: 10px;
}

.list {
  background-color: white;
  overflow: scroll;
  height: 450px;
  border: 1px solid #dc3545;
  padding: 10px;
}

