// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-show {
  background-color: white;
}

.marker {
  background-color: #FFCC00;
}

.list {
  background-color: white;
  overflow: scroll;
  height: 450px;
  border: 1px solid #dc3545;
  padding: 10px;
}

.users-show {
   background-color: #ffccff;
}